main{
  grid-area: main;
  color: #022E57;
}
main {   background-color : #4b4b69; border-radius : 10px; padding : 30px; position: relative; }
/*-------------------------Navigation-----------------------------------------*/
ul#nav {
        margin : 0 5em 1.0em 1.5em;
        padding : 5px 2em 5px 5px;
        list-style-type : none;
        background-color: #0431B4;
        color: #4b4b69;
        font-weight : bold;
        font-size : 1em;
        text-align: center;
 }

 ul#nav li {
         display: inline;
         padding : 1px 0px;
  }

ul#nav li a {
          padding : 5px 2em 5px 2em;
          color: white;
          text-decoration: none;
          border-right: 1px solid #fff;
   }

   ul#nav li a.dernier {
             padding : 5px 2em 5px 2em;
             color: white;
             text-decoration: none;
      }

   ul#nav li a:hover {
           background-color: black;
           color: white;
           border-right: 1px solid #fff;
    }

/* ------------------------------- image ------------------------- */

#effet {
  position: relative;
  width: 50%;
}

.eta {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.popopo {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#effet:hover .eta {
  opacity: 0.3;
}

#effet:hover .popopo {
  opacity: 1;
}

.text {
  background-color: #0431B4;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#effet{
  width: 200px; /* largeur de l'image */
  height: auto; /* hauteur de l'image */
  -webkit-transition: .3s ease-in-out !important;
  transition: .3s ease-in-out !important;
}
#effet:hover {
  width: 150px; /* on affiche l'image au carré */
  height: 150px;
  border-radius: 50%;
}

a {
  outline: none;
  text-decoration: white;
	color: white;
  padding: 2px 1px 0;
}

/* INSCRIPTION */

.onglet,

.onglet_0 {
  padding: 19px 90.12px;
  font-weight: bold;
  color: #485DFB;
  cursor: pointer;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
position: relative;
overflow: auto;
}

.onglet_0:hover{
  padding: 19px 90.12px;
  font-weight: bold;
  background: #485DFB;
  color: white;
  transition: width 1s ease, background-color 1s ease;
}

.onglet_0:before {
content: "";
position: absolute;
z-index: 8;
left: 50%;
right: 50%;
bottom: 0;
background: white;
height: 4px;
transition-property: left, right;
transition-duration: 1.3s;
transition-timing-function: ease-out;
}

.onglet_0:hover:before{
left: 0;
right: 0;
}

.onglet_1{
          padding: 19px 90.12px;
          font-weight: bold;
          color: white;
          background: #485DFB;
          cursor: pointer;
          -webkit-transition:  0.65s linear;
          transition: 0.65s linear;
}

.onglet_1:before {
content: "";
position: absolute;
z-index: 8;
left: 50%;
right: 50%;
bottom: 0;
background: black;
height: 4px;
transition-property: left, right;
transition-duration: 2.3s;
transition-timing-function: ease-out;
}

.contenu_onglet{
  position: fixed;
  width: 100%;
  height: 100%;
  filter:alpha(opacity=40);
  -moz-opacity: 0.4;
  color: white;
  background-color: #485DFB;
  display : none;
}
